@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* @apply font-[Raleway]; */
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  span {
    width: 4px;
    height: 18px;
    float: left;
    background-color: #fcd200;
    margin-right: 5px;
    border-radius: 10px;
  }
}
